<% if notice %>
  <p class="alert alert-primary mt-3" id="notice"><%= notice %></p>
<% end %>

<div class="row justify-content-md-center mt-3">
  <%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Order Type</th>
    <th scope="col">Value</th>
    <th scope="col">Status</th>
    <th scope="col">Created at</th>
    <th scope="col">Mibank Transaction</th>
    <th scope="col">Mibank Favoured</th>
    <th scope="col">Validate</th>
    <th scope="col">Cancel</th>

  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= order.order_type %></td>
      <td><%= order.value %></td>
      <td><%= order.status %></td>
      <td><%= order.created_at %></td>
      <td><%= order.mibank_transaction || 'waiting validation' %></td>
      <% if order.withdraws.any? %>
        <td><%= order.withdraws.first.user.mibank %></td>
      <% else %>
        <td>waiting favoured</td>
      <% end %>
      <td><%= render('shared/validate_order_form', order_id: order.id, favoured: order.withdraws.first) if order.pending?  %></td>
      <td>
        <% if order.deposit? %>
          <%= link_to 'Cancel', panel_order_path(order), method: :delete, data: { confirm: 'Tem certeza que deseja cancelar esta ordem?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


