<% if notice %>
  <p class="alert alert-primary mt-3" id="notice"><%= notice %></p>
<% end %>

<div class="row justify-content-md-center mt-3">
  <%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tipo</th>
    <th scope="col">Valor</th>
    <th scope="col">Status</th>
    <th scope="col">Criado em</th>
    <th scope="col">Mibank Transação</th>
    <th scope="col">Mibank Favorecido</th>
    <th scope="col">Validação</th>
    <th scope="col">Cancelar</th>

  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= order.order_type %></td>
      <td><%= order.value %></td>
      <td><strong><%= set_status(order.status) %></strong></td>
      <td><%= order.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
      <td><%= order.mibank_transaction || 'aguardando validação' %></td>
      <% if order.withdraws.any? %>
        <td><%= order.withdraws.first.user.mibank %></td>
      <% else %>
        <td>Aguardando favorecido</td>
      <% end %>
      <td><%= render('shared/validate_order_form', order_id: order.id, favoured: order.withdraws.first) if order.pending?  %></td>
      <td>
        <% if order.deposit? %>
          <%= link_to '<i class="material-icons">backspace</i>'.html_safe, panel_order_path(order), method: :delete, data: { confirm: 'Tem certeza que deseja cancelar este pagamento?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


