<div class="shadow-lg justify-content-md-center offset-4 col-4 mt-3">
<%= form_with(model: [:panel, @user], local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testis.errors.count, "error") %> prohibited this testis from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= form.label 'Patrocinador' %><br />
    <%= form.text_field :user, value: @sponsor.name, readonly: true, class: 'form-control' %>
    <%= form.hidden_field :user_id, value: @sponsor.id %>
  </div>

  <div class="form-group">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label 'Nome' %><br />
    <%= form.text_field :name, autocomplete: "name", class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= form.label 'Telefone' %><br />
        <%= form.text_field :phone, autocomplete: "phone", class: 'form-control', 'data-mask': '(99) 99999-9999' %>
      </div>

      <div class="col">
        <%= form.label 'CPF' %><br />
        <%= form.text_field :cpf, autocomplete: "cpf", class: 'form-control', 'data-mask': '999.999.999.-99' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= form.label 'País' %><br />
        <%= form.country_select :country, {}, class: 'form-control' %>
      </div>

      <div class="col">
        <%= form.label 'CEP' %><br />
        <%= form.text_field :zipcode, autocomplete: "zipcode", class: 'form-control', 'data-mask': '99999-999' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label 'Conta MiBank' %><br />
    <%= form.text_field :mibank, class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= form.label 'Senha' %>
        <% if @minimum_password_length %>
          <em>(mínimo de <%= @minimum_password_length %> caractéres)</em>
        <% end %><br />
        <%= form.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="col">
        <%= form.label 'Confirmação de Senha' %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Cadastrar', class: 'btn btn-primary mb-3' %>
  </div>
<% end %>
</div>