<p id="notice"><%= notice %></p>

<div class="row justify-content-md-center mt-3">
  <%= will_paginate @withdraws, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Valor</th>
    <th scope="col">Status</th>
    <th scope="col">Criado em</th>
    <th scope="col">Cancelar</th>

  </tr>
  </thead>
  <tbody>
  <% @withdraws.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= order.value %></td>
      <td><%= order.status %></td>
      <td><%= order.created_at %></td>
      <td><%= link_to '<i class="material-icons">backspace</i>', order.status, panel_order_path(order) %></td>
    </tr>
  <% end %>
  </tbody>
</table>


