<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testis.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @testis.value %>
</p>

<%= link_to 'Edit', edit_testis_path(@testis) %> |
<%= link_to 'Back', testes_path %>
