<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'Sistema de Ajuda Mútua', welcome_index_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">assignment</i> Pagamentos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Meus pagamentos', panel_orders_path, class: 'dropdown-item' %>
            <%= link_to 'Meus pedidos', panel_withdraws_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Novo pagamento', new_panel_order_path, class: 'dropdown-item' %>
            <%= link_to 'Novo pedido', new_panel_withdraw_path, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">
              perm_contact_calendar
            </i> Usuário
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Perfil', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Minha rede', panel_users_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>

        <li class="nav-item">
          <%= link_to '<i class="material-icons">alarm</i> Ciclos'.html_safe, panel_welcome_index_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <span class="nav-link"><i class="material-icons">attach_money</i> <strong>R$ <%= current_user.wallet %></strong></span>
        </li>
      </ul>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light ml-5 my-2 my-sm-0' %>
    <% else %>
      <%#= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-light ml-5 my-2 my-sm-0 ' %>
    <% end %>
  </div>
</nav>